<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/home-icon.png"
    <!-- href is relative path -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was create by Gandalf. It uses data from API</p>
        <img src="./img/robot.png" class="portrait">
    </div>
    {{>footer}}
</body>
</html>