<!DOCTYPE html>

<html>
<head>
    <!-- href is relative path -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- render partial template -->
    {{>header}}
    <p>{{helpText}}</p>

    {{>footer}}
</body>
</html>